.container {
    width: 48%; /* Reducir ligeramente el ancho para evitar desbordamiento */
    float: left;
    margin: 10px; /* Agregar margen para separar los contenedores */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.table-container {
    width: 100%; /* Hacer que la tabla-container ocupe todo el ancho disponible */
    /*height: 300px; /* Fijar una altura para evitar desbordamiento */
    overflow: auto; /* Agregar barra de desplazamiento en caso de contenido largo */
}

.input-dinamico {
    width: 40px; /* Cambia el tamaño según tus necesidades */
    height: 20px; /* Cambia el tamaño según tus necesidades */
    /* Agrega otros estilos según sea necesario */
}

.chart-container {
    width: 100%;
    height: 300px;
}

#chart-container_X, #chart-container_R, #chart-container_S, #chart-container_XS {
  width: 400px; /* Ancho deseado */
  height: 300px; /* Altura deseada */
}

#chart-container_X, #chart-container_R, #chart-container_S, #chart-container_XS {
  font-size: 16px; /* Tamaño de fuente deseado */
}

